<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.bus.dao.UserDao">
 
 	<insert id="insert">
 	INSERT INTO tbl_bus_user (
		bu_id, bu_name, bu_password, bu_tel
	) VALUES ( 
    	#{bu_id},#{bu_name},#{bu_password},#{bu_tel}
	)
 	</insert>
 	
 	<insert id="ninsert">
 	INSERT INTO tbl_bus_user (
 		bu_id, bu_name
 	) VALUES (
 		#{id},#{name}
 	)
 	
 	
 	
 	</insert>
 </mapper> 