<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여기는 네이버 로그인창 연습</title>
</head>
<body>
<div th:if="${session.currentUser eq null}">
    <h3>네이버 로그인</h3>
    <a th:href="${apiURL}"><img height="50" src="http://static.nid.naver.com/oauth/small_g_in.PNG"/></a>
</div>

<div th:if="${session.currentUser ne null}">
    <h3>이 부분은 로그인한 사용자한테만 보임</h3>
    <pre th:text="${session.currentUser}"></pre>
    <a th:href="${'/Nlogin/getProfile?accessToken=' + session.currentAT}">Get User's Profile</a>
    <a th:href="${'/Nlogin/refreshToken?refreshToken=' + session.currentRT}">Refresh Token</a>
    <a th:href="${'/Nlogin/deleteToken?accessToken=' + session.currentAT}">Delete Token</a>
    <a href="/Nlogin/invalidate">로그아웃 (Invalidate Session)</a>
</div>
</body>
</html>